:root {
  --color-bg:  #656565;
  --color-text: #bbbbbb;
  --color-accent: #ffbf83;
  --color-accent-2: #00ffff;
  --color-accent-3: #bf00ff;
}
body {
  font-family: 'Press Start 2P', monospace;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 40px;
}
h1 {
  color: var(--color-accent);
  font-size: 48px;
  letter-spacing: 2px;
}
h2 {
  color: var(--color-accent-2);
}
a { 
  color: var(--color-accent-3); 
}
section, header, footer {
  margin-bottom: 40px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}